


body {
    background-color: beige;
}
    

			h1 {
             color:#0000ff;
			}
			table {
				margin-bottom:14px;
			}
			table td{
				border:1px solid red; 
				padding:13px;
                font-size:1.1em; 
			}
			table thead {
				text-shadow:0px 1px black;
				font-size:2em;
				color:blue;
			}
			table.client td {
				width:675px;
			}
			table.aia td {
				width:500px;
                border:1px solid red;
                padding:10px;
			}
table.aia thead {
    text-align: center;
    padding:10px;
}

footer img {
     height:44px;
    margin-top:3px;
    margin-bottom:3px;
}